<template>
    <section>
        <Navigation/>
        <router-view></router-view>
    </section>
</template>

<script>
    import MainPage from "./components/MainPage.vue";
    import Navigation from "./components/Navigation.vue";

    export default {
        components: {
            MainPage,
            Navigation
        },

        mounted() {

        },

        data() {
            return {
                test: {},
                currentRoute: window.location.pathname
            }
        },
    }
</script>
