.mainPage {
    #main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        z-index: -1;
    }
    .text-4xl {
        padding-top: 25%;
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px #2d2c2c;
        font-size: 3em !important;
        font-weight: bold;
    }
}
