<template>
    <section class="mainPage">
        <img src="images/food-table.jpg" id="main-image">

        <div>
            <h1 class="text-4xl">My Favorite Recipes</h1>
        </div>
    </section>
</template>
