<template>
    <nav class="flex items-center justify-between flex-wrap bg-dark p-6">
        <div class="flex items-center flex-shrink-0 text-dark mr-6">
            <router-link :to="{ name: 'MainPage' }"><span class="font-semibold text-xl tracking-tight">My Cook Book</span></router-link>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-dark-200 border-dark-400 hover:text-teal hover:border-teal">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <router-link :to="{ name: 'Recipes' }" class="block mt-4 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal mr-4">
                   Recipes
                </router-link>
                <router-link to="/recipes" class="block mt-4 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal mr-4">
                   Gallery
                </router-link>
                <router-link to="/recipes" class="block mt-4 lg:inline-block lg:mt-0 text-dark-200 hover:text-teal">
                    Blog
                </router-link>
            </div>
            <div>
                <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-dark border-dark hover:border-teal hover:text-teal-500 hover:bg-teal mt-4 lg:mt-0">Download Recipes</a>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        methods: {

        }
    }
</script>

