<template>
    <section class="recipe max-w-sm rounded overflow-hidden shadow-lg card w-1/4">
        <img class="w-full" :src="recipe.image"/>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ recipe.name }}</div>
            <p class="text-gray-700 text-base">{{ recipe.description }}</p>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            recipe: {
                type: Object
            }
        }
    }
</script>
