<template>
    <section>
        <h1>test</h1>
    </section>
</template>
<script>
    import RecipeDetails from "./RecipeDetails";

    export default {
        components: {
            RecipeDetails
        },
        mounted() {
            Axios.get('data/recipes.json').then(response => this.recipes = response.data);
        },

        data() {
            return {
                recipes: [],
            }
        },
        methods:{

        }
    }
</script>
