<template>
    <section class="recipes flex mb-4">
      <recipe v-for="recipe in recipes" :recipe="recipe"></recipe>
    </section>
</template>

<script>
    import Recipe from "./recipe";

    export default {
        components: {
            Recipe,
        },
        mounted() {
            Axios.get('data/recipes.json').then(response => this.recipes = response.data);
        },

        data() {
            return {
                recipes: [],
            }
        },
    }
</script>
